* {
  box-sizing: border-box;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #505151;
}
body {
  font-family: 'Nunito', sans-serif;
}
h2,
h4 {
  font-weight: 500;
  text-transform: uppercase;
}

span {
  margin-bottom: 1.5rem;
}
